:root {
  --radius: 1rem;
  --primary-blue: #36b3c7;
  --secondary-blue: #73CAD8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-family: montserrat, sans-serif;
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
  background-position: center;
  background-size: 100%;
  color: rgb(255, 255, 255);
}

/* set-font-dimension */

h1 {
  font-size: 2rem;
  line-height: 2.05rem;
  font-weight: 500;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.25rem;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
  line-height: 1.05rem;
  font-weight: 500;
}

.content {
  width: 100%;
  height: 100%;
}

/* main */

.content > main,
.content > main > aside,
.center-container {
  display: flex;
}

.content > main > aside,
.center-container {
  flex-direction: column;
  gap: 1rem;
}

.content > main {
  justify-content: space-between;
  width: 100%;
  height: 75%;
  padding: 2rem;
}

.content > main > * {
  height: 100%;
  padding: 1rem;
}

.content > main > aside {
  position: relative;
  width: 22.5%;
  border-radius: var(--radius);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.center-container {
  align-items: center;
  width: 45%;
}

.info-item {
  display: flex;
  gap: 1rem;
  margin-left: 0.5rem;
}

.info-item > img {
  width: 48px;
  height: 48px;
}

.info-item .value,
.info-item .unit {
  font-size: 1.7rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.weather-detail-container {
  justify-content: space-between;
}

.search-items {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

/* current position */
.current-position {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 8), 0 0 1px 0 rgb(0 0 0 / 20);
}

.current-position:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

/* search-bar */
form {
  justify-self: flex-end;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
  height: 2rem;
  padding: 0.25rem;
  border-radius: 5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 8), 0 0 1px 0 rgb(0 0 0 / 20);
}

form > input {
  width: 80%;
  height: 90%;
  border: none;
}

form > input:not(:placeholder-shown) ~ .delete {
  visibility: visible
}

form > .search,
form > .delete,
form img {
  width: 1.5rem;
  height: 1.5rem;
}

form > .search,
form > .delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

form > .delete {
  visibility: hidden;
}

form > .delete:hover {
  cursor: pointer;
}

/* weather info */

.weather-info,
.weather-info > header {
  display: flex;
  flex-direction: column;
}

.weather-info {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: var(--radius);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.weather-info > header {
  width: 60%;
  height: 18%;
}

.weather-info > main,
.weather-info > main > .image-container,
.weather-info > main > .temp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info > main {
  width: 100%;
  height: 100%;
}

.weather-info > main > .image-container {
  width: 40%;
  height: 100%;
}

.image-container > img {
  width: 100%;
  aspect-ratio: 1;
}

.weather-info > main > .temp {
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  height: 100%;
}

.temp > .value {
  font-size: 5rem;
  margin-bottom: 2rem;
}

/* forecast */
.forecast-container,
.forecast-item {
  display: flex;
  align-items: center;
}

.forecast {
  position: relative;
  width: 100%;
  height: 25%;
  padding: 0 2rem;
}

.forecast-container {
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  overflow-x: auto;
}

.forecast-item {
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  width: 7rem;
  height: 7rem;
  padding: 0.5rem;
  margin-inline: auto;
  border-radius: var(--radius);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: transform 0.5s ease;
}

.forecast-item:hover {
  transform: translateY(-0.5rem);
  cursor: pointer;
}

.forecast-item > img {
  width: 48px;
  height: 48px;
}

.change-forecast,
.change-forecast-btn {
  display: flex;
  align-items: center;
}

.change-forecast {
  position: absolute;
  top: -1.5rem;
  left: 2rem;
  justify-content: space-between;
  width: 22%;
  height: 2rem;
  padding-inline: 3rem;
}

.change-forecast-btn {
  justify-content: center;
  width: 6rem;
  height: 100%;
  border-radius: var(--radius);
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.change-forecast-btn:hover {
  cursor: pointer;
}

.change-forecast-btn.active {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.change-temp-unit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.change-temp-unit > div {
  height: 100%;
  font-size: 1.5rem;
  margin: auto;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* first-load */

.start-load-page,
.start-load-container,
.loader-container {
  display: flex;
  align-items: center;
}

.start-load-page,
.loader-container {
  top: 0;
  left: 0;
  justify-content: center;
}

.start-load-page {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #36b3c7;
  z-index: 2;
}

.hidden {
  display: none !important;
}

/* loader */
.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.loader-container.charge {
  opacity: 1;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.ring {
  --uib-size: 40px;
  --uib-speed: 2s;
  --uib-color: white;
  
  height: var(--uib-size);
  width: var(--uib-size);
  vertical-align: middle;
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
}

.ring circle {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -124px;
  }
}